.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.about-content {
  max-width: 900px;
  background: rgba(60, 60, 60, 0.51); 
  border-radius: 20px;
  padding: 40px 60px;
  text-align: center;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.493);

}



.about-content h1 {
  font-size: 3rem;
  color: #ffeb3b; 
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.about-content p {
  color: #f1f1f1;
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 20px;
}


.about-content strong {
  color: #ffffff;
  font-weight: 600;
}

