.container {
  width: 400px;
  margin: 120px auto;
  color: white;
     background-color: rgba(128, 128, 128, 0.286);
     border-radius: 10px;
     padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 8px;
  border: 1px solid white;
  border-radius: 8px;
  background: transparent;
  color: white;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #ffeb3b;
}

textarea {
  resize: none;
  height: 100px;
}

input[type="submit"] {
  background-color: #ffeb3b;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #f5d400;
}


#contactSign{
    text-align: center;
    color: #f5d400;
    font-weight: bold;
}