html, body {
    height: 100%;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../background.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    color: white;
}


nav a{
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    background-color: rgba(128, 128, 128, 0.314);
    cursor: pointer;
}


